@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@import "variables";

@import "bootstrap/bootstrap";
@import "nprogress/nprogress";

/**
 * Application styling
 */
.bg-gray {
  background-color: $gray-200;
}

.logo-white * {
  fill: $white !important;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}