$font-family-sans-serif: 'Open Sans', sans-serif;
$font-weight-bold: 600;

$primary: #007ab2;

$alert-border-radius: 0;

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 4,
  8: $spacer * 8,
);

$form-label-font-weight: 700;

$form-check-input-width: 1.25em;

$input-btn-padding-y: .75rem;
$input-btn-padding-x: 1rem;

$table-cell-padding-y: 1.25rem;
$table-cell-padding-x: 1.25rem;
$table-cell-padding-y-sm: .25rem;
$table-cell-padding-x-sm: .25rem;
$table-cell-vertical-align: 'middle';

$container-max-widths: (
  sm: 100%,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
);